@use '_variables' as *

// Mixins //
 
@mixin start
    display: flex
    justify-content: start
    align-items: center
  
@mixin centered
    display: flex
    justify-content: center
    align-items: center

@mixin end
    display: flex
    justify-content: end
    align-items: center

@mixin between
    display: flex
    justify-content: space-between
    align-items: center

@mixin btn1 
    background-color: $pinkish
    color: $texte3
    border-radius: 4px
    width: 200px
    border: none
    padding-top: 17px
    padding-bottom: 17px
    font-weight: bold
    text-transform: uppercase
    font-size: 20px

// Textes // 

body
    p, h1, h2, h3, h4, h5, h6, button, a
        font-family: Montserrat

    h2
        font-size: 40px
        font-weight: 700
        letter-spacing: 1px
        line-height: 1.5
        color : $blackish
        text-transform: uppercase

    .h2-cards
        font-size: 20px

    h5
        color : $texte2
        text-transform: uppercase
        font-weight: 300
        font-size: 21px
        line-height: 1.6

    .p1 
        color : $texte2
        font-size: 13px

.btnred
    @include btn1

        