@mixin start
    display: flex
    justify-content: start
    align-items: center
  
@mixin centered
    display: flex
    justify-content: center
    align-items: center

@mixin end
    display: flex
    justify-content: end
    align-items: center

@mixin between
    display: flex
    justify-content: space-between
    align-items: center

    