@use '_bases' as *

.section-2
    display: flex
    justify-content: center
    gap: 60px
    padding-top: 80px
    padding-bottom: 30px

    .sect2-titres
        width: 28vw

    .sect2-textes
        width: 28vw
        line-height: 2