@use '_bases' as *

.section-2
    display: flex
    justify-content: center
    gap: 70px
    padding-top: 30px
    padding-bottom: 30px

    .sect2-titres
        width: 28vw

    .sect2-textes
        width: 30vw
        line-height: 2