@use '_bases' as *
@use '_variables' as *

@media (max-width:395px)
    nav
        gap: 30px
        display: flex
        justify-content: center
        align-items: center
    .navbarrr
        display: none
        visibility: hidden
        gap: 30px

// @media (max-width:576px)


@media (max-width:992px)
    .navbarrr
        display: none
    header
        padding-top: 80px
        padding-bottom: 10vh
    .header-contain
        width: 80vw !important
    .section-2
        flex-direction: column !important
        @include centered
        text-align: center !important
    .sect2-titres, .sect2-textes
        width: 80vw !important