@use '_bases' as *
@use '_variables' as *

@media (max-width:395px)
    nav
        flex-direction: column
    .navbarrr
        display: none
        visibility: hidden
@media (min-width:395px) and (max-width:576px)
    nav
        flex-direction: column
    .navbarrr
        display: none
        visibility: hidden