@use '_bases' as *
@use '_variables' as *

@media (max-width:395px)
    nav
        gap: 30px
        display: inline-block
    .navbarrr
        display: none
        visibility: hidden
        gap: 30px
    header
        padding-top: 80px
        padding-bottom: 80px
@media (min-width:395px) and (max-width:576px)
    .navbarrr
        display: none
        visibility: hidden
        gap: 30px

@media (max-width:992px)
    .navbarrr
        display: none